<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Quousque tandem abutere, Catilina, patientia nostra? Patere tua consilia non sentis? Eccheccazzo?!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Mehercule! Pulchra sunt ubera quae paululum supereminent et tumicent modice.</p>
        </article>
    </body>
</html>